@import compass
@import compass/css3/user-interface
@import variables
@import compass/css3
@import compass/layout
@import compass/typography
@import compass/utilities

/*-----------RESET STYLES-------------*/
*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

a,p
  text-decoration: none

a, button, i, input
  -webkit-transition: 0.2s ease-out
  -moz-transition: 0.2s ease-out
  -o-transition: 0.2s ease-out
  transition: 0.2s ease-out

ul
  list-style: none

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea
  padding: 0
  margin: 0
  line-height: 1em
/*--------END RESET STYLES------------*/

/*---------RESET BOOTSTRAP STYLES-----*/
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand
  margin: 0
/*-----END RESET BOOTSTRAP STYLES-----*/

/*------------HEADER STYLES-----------*/
.container
  padding: 0

.navbar-header
  h1
    a
      line-height: 120px

.navbar-inverse
  padding: 0
  margin: 0
  min-height: 120px
  +box-shadow($black-color 0 -5px 0 inset)
  border-radius: 0
  .navbar-nav
    padding: 0
    li
      font: 700 16px 'Lato', sans-serif
      text-shadow: 0 1px 0 $dark-color
      border-right: 1px solid $black-color
      a
        padding: 0
        width: 130px
        text-align: center
        line-height: 120px
        color: $white-color
      &:first-child
        border-left: 1px solid $black-color
      &.current-menu-item
        border-bottom: 5px solid $green-color
        a
          color: $green-color

.navbar-inverse .navbar-nav>li>a:hover
  color: $green-color

.navbar-collapse
  padding: 0
  .row
    margin: 0
/*---------END HEADER STYLES----------*/

/*------------POST STYLES-------------*/
.content
  overflow: hidden
  padding-top: 80px

.post
  margin-bottom: 80px
  h2
    margin: 20px 0 55px 0
    a
      font: 700 28px/30px 'Lato', sans-serif
      text-transform: uppercase
      color: $grey-color
      text-decoration: none
  p
    margin-bottom: 30px
    font-family: 'Lato', sans-serif
    font-size: 16px
    font-weight: 400
    line-height: 20px
  .button
    display: inline-block
    margin-top: 10px
    padding: 10px 25px 11px
    font: 700 16px 'Lato', sans-serif
    color: $light-grey
    text-decoration: none
    border: 2px solid $light-grey
    border-radius: 50px
    &:hover
      color: $grey-color
/*---------END POST STYLES------------*/

/*----------SIDEBAR STYLES------------*/
.sidebar
  display: inline-block
  padding: 0 0 0 48px
  ul
    margin: 0
    li
      margin-bottom: 80px
      h2
        padding: 15px 20px
        margin-bottom: 20px
        font: 700 16px 'Lato', sans-serif
        text-transform: uppercase
        background: $bg-sidebar-title
        color: $title-sidebar
        border-left: 3px solid $green-color
    .widget_text
      p
        padding: 0 20px
        margin-bottom: 30px
        font-family: 'Lato', sans-serif
        font-size: 16px
        font-weight: 400
        line-height: 20px
        color: $text-sidebar
        &:last-child
          margin-bottom: 0

.sidebar
  .form-wrap
    input[type=text]
      padding: 15px 20px
      width: 100%
      border: 1px solid #e1e0e0
      &:focus
        outline: none

.textwidget
  .wpcf7
    .wpcf7-form
      p
        position: relative
        padding: 0
        margin: 0
      input[type=email]
        padding: 18px 20px
      input[type=submit]
        position: absolute
        top: 50%
        right: 0
        background: url("../../images/right-arr.png") no-repeat
/*-------END SIDEBAR STYLES-----------*/

/*----------PAGINATION STYLES--------*/
.prev-next-posts
  padding: 30px 30px 40px 30px
  border-top: 1px solid $bg-sidebar-title
  .prev-posts-link, .next-posts-link
    a
      position: relative
      font: 700 16px 'Lato', sans-serif
      text-transform: uppercase
      text-decoration: none
      color: $pagination-color
      &::before
        content: ''
        position: absolute
        top: 50%
        margin-top: -3px
        width: 15px
        height: 7px
  .prev-posts-link
    a
      padding-right: 25px
      &::before
        right: 0
        background: url("../../images/arrow-right.png") no-repeat
  .next-posts-link
    a
      padding-left: 25px
      &::before
        left: 0
        background: url("../../images/arrow-left.png") no-repeat
/*-------END PAGINATION STYLES-------*/

/*-----SEARCH PAGINATION STYLES------*/
.pag-wrap
  padding: 30px 30px 40px 30px
  border-top: 1px solid $bg-sidebar-title
  a
    position: relative
    font: 700 16px 'Lato', sans-serif
    text-transform: uppercase
    text-decoration: none
    color: $pagination-color
    &::before
      content: ''
      position: absolute
      top: 50%
      margin-top: -3px
      width: 15px
      height: 7px
  .page-numbers
    display: none
  .prev, .next
    display: block
  .prev
    float: left
    padding-left: 25px
    &::before
      left: 0
      background: url("../../images/arrow-left.png") no-repeat
  .next
    float: right
    padding-right: 25px
    &::before
      right: 0
      background: url("../../images/arrow-right.png") no-repeat
/*--END SEARCH PAGINATION STYLES-----*/

/*-----------FOOTER STYLES-----------*/
.footer
  padding: 75px 0
  background: $footer-bg
  border-top: 1px solid $bg-sidebar-title
  h2
    margin-bottom: 30px
  .social
    list-style: none
    padding: 0
    margin: 0
    li
      position: relative
      margin-right: 20px
      width: 40px
      height: 40px
      background: $bg-icon
      a
        &::before
          content: ''
          position: absolute
          top: 50%
          left: 50%
    .facebook
      a
        &::before
          margin-top: -7px
          margin-left: -4px
          width: 8px
          height: 14px
          background: url("../../images/facebook-icon.png") no-repeat
      &:hover
        background: $social-facebook
    .twitter
      a
        &::before
          margin-top: -6px
          margin-left: -8px
          width: 16px
          height: 12px
          background: url("../../images/twitter-icon.png") no-repeat
      &:hover
        background: $social-twitter
    .be
      a
        &::before
          margin-top: -6px
          margin-left: -8px
          width: 16px
          height: 11px
          background: url("../../images/be-icon.png") no-repeat
      &:hover
        background: $social-be
    .dribbble
      a
        &::before
          margin-top: -7px
          margin-left: -7px
          width: 14px
          height: 14px
          background: url("../../images/dribbble-icon.png") no-repeat
      &:hover
        background: $social-dribbble
  p
    margin-bottom: 35px
    font: 400 13px 'Lato', sans-serif
    color: $footer-color
    a
      text-decoration: none
      color: $footer-color
    .pixel
      font-weight: 700
      color: $pixel-color

/*--------END FOOTER STYLES----------*/



@import media1200
@import media992
@import media768
@import media320