/*-----------RESET STYLES------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, p {
  text-decoration: none;
}

a, button, i, input {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

ul {
  list-style: none;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

/*--------END RESET STYLES------------ */
/*---------RESET BOOTSTRAP STYLES----- */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0;
}

/*-----END RESET BOOTSTRAP STYLES----- */
/*------------HEADER STYLES----------- */
.container {
  padding: 0;
}

.navbar-header h1 a {
  line-height: 120px;
}

.navbar-inverse {
  padding: 0;
  margin: 0;
  min-height: 120px;
  -moz-box-shadow: #000 0 -5px 0 inset;
  -webkit-box-shadow: #000 0 -5px 0 inset;
  box-shadow: #000 0 -5px 0 inset;
  border-radius: 0;
}
.navbar-inverse .navbar-nav {
  padding: 0;
}
.navbar-inverse .navbar-nav li {
  font: 700 16px "Lato", sans-serif;
  text-shadow: 0 1px 0 #1e1e1e;
  border-right: 1px solid #000;
}
.navbar-inverse .navbar-nav li a {
  padding: 0;
  width: 130px;
  text-align: center;
  line-height: 120px;
  color: #fff;
}
.navbar-inverse .navbar-nav li:first-child {
  border-left: 1px solid #000;
}
.navbar-inverse .navbar-nav li.current-menu-item {
  border-bottom: 5px solid #58c93a;
}
.navbar-inverse .navbar-nav li.current-menu-item a {
  color: #58c93a;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #58c93a;
}

.navbar-collapse {
  padding: 0;
}
.navbar-collapse .row {
  margin: 0;
}

/*---------END HEADER STYLES---------- */
/*------------POST STYLES------------- */
.content {
  overflow: hidden;
  padding-top: 80px;
}

.post {
  margin-bottom: 80px;
}
.post h2 {
  margin: 20px 0 55px 0;
}
.post h2 a {
  font: 700 28px/30px "Lato", sans-serif;
  text-transform: uppercase;
  color: #4f4e4e;
  text-decoration: none;
}
.post p {
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.post .button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 25px 11px;
  font: 700 16px "Lato", sans-serif;
  color: #c2c1c1;
  text-decoration: none;
  border: 2px solid #c2c1c1;
  border-radius: 50px;
}
.post .button:hover {
  color: #4f4e4e;
}

/*---------END POST STYLES------------ */
/*----------SIDEBAR STYLES------------ */
.sidebar {
  display: inline-block;
  padding: 0 0 0 48px;
}
.sidebar ul {
  margin: 0;
}
.sidebar ul li {
  margin-bottom: 80px;
}
.sidebar ul li h2 {
  padding: 15px 20px;
  margin-bottom: 20px;
  font: 700 16px "Lato", sans-serif;
  text-transform: uppercase;
  background: #f8f8f8;
  color: #6c6969;
  border-left: 3px solid #58c93a;
}
.sidebar ul .widget_text p {
  padding: 0 20px;
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #737373;
}
.sidebar ul .widget_text p:last-child {
  margin-bottom: 0;
}

.sidebar .form-wrap input[type=text] {
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #e1e0e0;
}
.sidebar .form-wrap input[type=text]:focus {
  outline: none;
}

.textwidget .wpcf7 .wpcf7-form p {
  position: relative;
  padding: 0;
  margin: 0;
}
.textwidget .wpcf7 .wpcf7-form input[type=email] {
  padding: 18px 20px;
}
.textwidget .wpcf7 .wpcf7-form input[type=submit] {
  position: absolute;
  top: 50%;
  right: 0;
  background: url("../../images/right-arr.png") no-repeat;
}

/*-------END SIDEBAR STYLES----------- */
/*----------PAGINATION STYLES-------- */
.prev-next-posts {
  padding: 30px 30px 40px 30px;
  border-top: 1px solid #f8f8f8;
}
.prev-next-posts .prev-posts-link a, .prev-next-posts .next-posts-link a {
  position: relative;
  font: 700 16px "Lato", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #818181;
}
.prev-next-posts .prev-posts-link a::before, .prev-next-posts .next-posts-link a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  width: 15px;
  height: 7px;
}
.prev-next-posts .prev-posts-link a {
  padding-right: 25px;
}
.prev-next-posts .prev-posts-link a::before {
  right: 0;
  background: url("../../images/arrow-right.png") no-repeat;
}
.prev-next-posts .next-posts-link a {
  padding-left: 25px;
}
.prev-next-posts .next-posts-link a::before {
  left: 0;
  background: url("../../images/arrow-left.png") no-repeat;
}

/*-------END PAGINATION STYLES------- */
/*-----SEARCH PAGINATION STYLES------ */
.pag-wrap {
  padding: 30px 30px 40px 30px;
  border-top: 1px solid #f8f8f8;
}
.pag-wrap a {
  position: relative;
  font: 700 16px "Lato", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #818181;
}
.pag-wrap a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  width: 15px;
  height: 7px;
}
.pag-wrap .page-numbers {
  display: none;
}
.pag-wrap .prev, .pag-wrap .next {
  display: block;
}
.pag-wrap .prev {
  float: left;
  padding-left: 25px;
}
.pag-wrap .prev::before {
  left: 0;
  background: url("../../images/arrow-left.png") no-repeat;
}
.pag-wrap .next {
  float: right;
  padding-right: 25px;
}
.pag-wrap .next::before {
  right: 0;
  background: url("../../images/arrow-right.png") no-repeat;
}

/*--END SEARCH PAGINATION STYLES----- */
/*-----------FOOTER STYLES----------- */
.footer {
  padding: 75px 0;
  background: #f8f8f8;
  border-top: 1px solid #f8f8f8;
}
.footer h2 {
  margin-bottom: 30px;
}
.footer .social {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .social li {
  position: relative;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background: #e5e5e5;
}
.footer .social li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}
.footer .social .facebook a::before {
  margin-top: -7px;
  margin-left: -4px;
  width: 8px;
  height: 14px;
  background: url("../../images/facebook-icon.png") no-repeat;
}
.footer .social .facebook:hover {
  background: #3b5998;
}
.footer .social .twitter a::before {
  margin-top: -6px;
  margin-left: -8px;
  width: 16px;
  height: 12px;
  background: url("../../images/twitter-icon.png") no-repeat;
}
.footer .social .twitter:hover {
  background: #55acee;
}
.footer .social .be a::before {
  margin-top: -6px;
  margin-left: -8px;
  width: 16px;
  height: 11px;
  background: url("../../images/be-icon.png") no-repeat;
}
.footer .social .be:hover {
  background: #cc2127;
}
.footer .social .dribbble a::before {
  margin-top: -7px;
  margin-left: -7px;
  width: 14px;
  height: 14px;
  background: url("../../images/dribbble-icon.png") no-repeat;
}
.footer .social .dribbble:hover {
  background: #f5a24c;
}
.footer p {
  margin-bottom: 35px;
  font: 400 13px "Lato", sans-serif;
  color: #a6a6a6;
}
.footer p a {
  text-decoration: none;
  color: #a6a6a6;
}
.footer p .pixel {
  font-weight: 700;
  color: #939292;
}

/*--------END FOOTER STYLES---------- */
@media (min-width: 1200px) {
  .container {
    width: 985px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }

  /*------------HEADER STYLES----------- */
  /*---------END HEADER STYLES---------- */
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
}
